html,
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
/* Default button types*/
.transparent-button-white-outline {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-weight: bold;
}
.transparent-button-white-outline:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: #2e71be;
  cursor: pointer;
}
.blue-button {
  background-color: #2e71be;
  border: none;
  color: #fff;
  font-weight: bold;
}
.blue-button:hover {
  background-color: #fff;
  color: #2e71be;
  cursor: pointer;
  border: #2e71be 3px solid;
}
/*Landing page top contact banner*/
.lp-top-contact {
  height: 16.5rem;
  width: 100%;
  background-color: #2e71be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.lp-top-contact > :first-child {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-right: 12rem;
}
.lp-top-contact > :last-child {
  margin-right: 6rem;
}

.lp-top-contact > div > h1 {
  text-align: left;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin: 0;
}
.lp-top-contact > div > p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: left;
  letter-spacing: 0.63px;
  margin: 0;
}

.lp-top-contact > .buttons-container > button {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 5.6rem;
  width: 26.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-top-contact > .buttons-container > button > p {
  text-align: center;
}

/* Landing Page services*/
.lp-services {
  width: 100%;
  height: 27.25rem;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lp-services > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.lp-services > div > div {
  height: 22rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.lp-services > div > div > img {
  border-radius: 50%;
}
.lp-services > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-services > div > div > div > span {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e71be;
  letter-spacing: 0.88px;
}
.lp-services-item-precka {
  height: 0.5rem;
  background-color: #2e71be;
  width: 7.25rem;
  align-self: center;
  margin-top: 0.5rem;
}
.lp-services > div > div > div > p {
  text-align: center;
}
.lp-services > .blue-button {
  width: 14rem;
  height: 3.25rem;
  align-self: center;
  margin: 0;
  justify-self: flex-end;
  margin-bottom: -1.6125rem;
  font-size: 1.5rem;
}
.lp-services > .blue-button > p {
  margin: 0;
}

/* Landing Page about me*/

.lp-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-about-me > h1 {
  letter-spacing: 1.4px;
  color: #2e71be;
  font-size: 2.5rem;
  margin-top: 4rem;
}
.lp-about-me > div {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
}

.lp-about-me > div > div {
  margin-left: 11.5rem;
}
.lp-about-me > div > div > p {
  font-size: 0.8rem;
  color: #545454;
  letter-spacing: 0.49px;
  margin: 0;
}
.lp-about-me > div > img {
  box-shadow: -1rem -1rem #2e71be;
}
.lp-about-me-circle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #2e71be;
  border-radius: 50%;
}
.nezz-sta-ide-ovdje {
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div > span {
  margin-left: 1rem;
}
.lp-about-me button {
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
}

/*Landing Page Projects*/
.lp-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-projects > h1 {
  letter-spacing: 1.4px;
  color: #2e71be;
  font-size: 2.5rem;
  margin-top: 4rem;
}
.lp-projects-tabs {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lp-projects-tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Style the buttons that are used to open the tab content */
.lp-projects-tab button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}


/* Create an active/current tablink class */
.lp-projects-tab button.active,
.lp-projects-tab button:hover {
  color: #fff;
  background-color: #2e71be;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Landing Page Bottom Contact Banner*/
.lp-bottom-contact {
  width: 100%;
  background-color: #2e71be;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.lp-bottom-contact h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}
.lp-bottom-contact > p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.lp-bottom-contact > .buttons-container > button {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  height: 3.5rem;
  width: 20rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-bottom-contact > .buttons-container > button > p {
  text-align: center;
}

.lp-bottom-contact > .buttons-container > :nth-child(1) {
  margin-right: 2rem;
}

.lp-bottom-contact > .buttons-container > :nth-child(2) {
  margin-left: 2rem;
}
