html{
  scroll-behavior: smooth;
  scroll-margin-top: 10rem;
  overflow-y: scroll;
}

.scroll-offset {
  padding-top: 7rem;
	margin-top: -7rem;
}

/* Landing Page Landing Screen*/
.lp-landing-screen-bg-image {
  background-image: url(../assets/images/bg/bg1-right-size.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  max-height: 69.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
}

.lp-landing-screen-bg-image > * {
  margin: 0;
  margin-left: 15%;
  z-index: 2;
}
.lp-landing-screen-bg-image > :nth-child(2) {
  letter-spacing: 12px;
  text-align: left;
  font-weight: 200;
  font-size: 2.5rem;
}

/*Landing page top contact banner*/
.lp-top-contact {
  height: 12.5rem;
  width: 100%;
  background-color: #2e71be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.lp-top-contact > :first-child {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-right: 12rem;
}
.lp-top-contact > :last-child {
  margin-right: 6rem;
}

.lp-top-contact > div > h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 0;
}
.lp-top-contact > div > p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: left;
  letter-spacing: 0.63px;
  margin: 0;
}

.lp-top-contact > .buttons-container > button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  height: 3.6rem;
  width: 13.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-top-contact > .buttons-container > button > p {
  text-align: center;
}



/* Landing Page services*/



/* Landing Page about me*/

#profilepic {
  width: 20rem;
}

.lp-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-about-me > div {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
}

.lp-about-me > div > div {
  margin-left: 11.5rem;
  display: flex;
  flex-direction: column;
  height: 450px;
}
.lp-about-me > div > div > p {
  color: #545454;
  letter-spacing: 0.49px;
  margin: 0;
}
.lp-about-me > div > img {

  background-color: #2e71be;
  border-radius: 5%;
}
.nezz-sta-ide-ovdje {
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div > span {
  margin-left: 1rem;
}
.lp-about-me button {
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
  font-size: 1rem;
  justify-self: flex-end;
}

.about-description{
  min-width: 20rem;
}

/* Landing Page Bottom Contact Banner*/
.lp-bottom-contact {
  width: 100%;
  background-color: #2e71be;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.lp-bottom-contact h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}
.lp-bottom-contact > p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 3%;
}

.lp-bottom-contact > .buttons-container > button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  height: 3rem;
  width: 17rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.lp-bottom-contact > .buttons-container > button > p {
  text-align: center;
}

.k {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px){
  .tabs > ul {
    width: 45% !important;
  }
  .tabs section {
    padding-left: 1rem !important;
  }
  .lp-about-me > div > div {
    height: auto;
  }
}

@media screen and (max-width: 890px) {
  .lp-top-contact > div > h1 {
    font-size: 1.3rem;
  }
  .lp-top-contact > div > p {
    font-size: 0.8rem;
  }
  .lp-top-contact > .buttons-container > button {
    font-size: 0.8rem;
    height: auto;
    width: 12rem;
  }
  .tabs > ul {
    width: 35% !important;
  }

  .tab-label {
    font-size: 1rem;
  }

  .tabs section {
    font-size: 1rem !important;
  }

  .lp-about-me > div > div {
    margin-left: 0;
  }

  #about-buttons > button {
    margin: 2rem 1rem 0 0 !important;
  }

  #profilepic {
    width: 15rem;
  }

  .lp-projects-tabs {
    width: 90% !important;
  }

  .lp-bottom-contact > h1 {
    font-size: 1.3rem;
  }

  .lp-bottom-contact > p {
    font-size: 0.8rem;
  }

  .lp-top-contact > div > p {
    display: none;
  }

  .lp-bottom-contact > .buttons-container > button {
    margin: 1rem 0.7rem 1rem;
  }

  .logo {
    display: none !important;
  }
}

@media screen and (max-width: 780px) {
  .lp-top-contact > :first-child{
    margin-left: 2rem;
  }

  #dienst {
    font-size: 1rem;
  }

  .about-description {
    min-width: 15rem;
  }

  .lp-about-me > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  #about-buttons {
    justify-content: center;
  }

  .lp-top-contact {
    height: auto;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 450px) {
  .lp-top-contact > div > h1{
    font-size: 0.7rem;
  }

  .lp-top-contact > div > p{
    font-size: 0.8rem;
  }

  .lp-top-contact > :first-child, .lp-top-contact > :last-child {
    margin: 0.5rem;
  }

  .lp-top-contact > .buttons-container > button {
    width: 10rem !important;
  }

  #dienst{
    font-size: 0.8rem;
  }

  .tabs section {
    border-bottom: none !important;
  }

  #tabs-section > section > h2 {
    font-size: 1rem;
  }

  #tabs-section > section > ul {
    font-size: 0.8rem;
  }
  .buttons-container{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tabs > ul li a > span.tab-label{
    font-size: 0.8rem;
  }

  .buttons-container > button {
    margin: 
    0.4rem;
  }

  .lp-landing-screen-bg-image > :nth-child(2) {
    font-size: 1.1rem;
  }

  .lp-landing-screen-bg-image {
    height: 80vh;
  }

  .bg-image-title{
    font-size: 2rem !important;
  }

 

}