html{
  scroll-behavior: smooth;
  scroll-margin-top: 10rem;
  overflow-y: scroll;
}

.scroll-offset {
  padding-top: 7rem;
	margin-top: -7rem;
}

/* Landing Page Landing Screen*/
.lp-landing-screen-bg-image {
  background-image: url(../assets/images/bg/bg1-right-size.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 69.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
}

.lp-landing-screen-bg-image > * {
  margin: 0;
  margin-left: 15%;
  z-index: 2;
}
.lp-landing-screen-bg-image > :nth-child(2) {
  letter-spacing: 12px;
  text-align: left;
  font-weight: 200;
  font-size: 2.5rem;
}

/*Landing page top contact banner*/
.lp-top-contact {
  height: 12.5rem;
  width: 100%;
  background-color: #2e71be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.lp-top-contact > :first-child {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-right: 12rem;
}
.lp-top-contact > :last-child {
  margin-right: 6rem;
}

.lp-top-contact > div > h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 0;
}
.lp-top-contact > div > p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: left;
  letter-spacing: 0.63px;
  margin: 0;
}

.lp-top-contact > .buttons-container > button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  height: 3.6rem;
  width: 13.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-top-contact > .buttons-container > button > p {
  text-align: center;
}

/* Landing Page services*/



/* Landing Page about me*/

#profilepic {
  width: 20rem;
}

.lp-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-about-me > div {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
}

.lp-about-me > div > div {
  margin-left: 11.5rem;
  display: flex;
  flex-direction: column;
  height: 450px;
}
.lp-about-me > div > div > p {
  color: #545454;
  letter-spacing: 0.49px;
  margin: 0;
}
.lp-about-me > div > img {
  box-shadow: -1rem -1rem #2e71be;
}
.lp-about-me-circle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #2e71be;
  border-radius: 50%;
}
.nezz-sta-ide-ovdje {
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.nezz-sta-ide-ovdje > div > span {
  margin-left: 1rem;
}
.lp-about-me button {
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
  font-size: 1rem;
  justify-self: flex-end;
}

.about-description{
  min-width: 20rem;
}

/* Landing Page Bottom Contact Banner*/
.lp-bottom-contact {
  width: 100%;
  background-color: #2e71be;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.lp-bottom-contact h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}
.lp-bottom-contact > p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 3%;
}

.lp-bottom-contact > .buttons-container > button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  height: 3rem;
  width: 17rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-bottom-contact > .buttons-container > button > p {
  text-align: center;
}

.lp-bottom-contact > .buttons-container > :nth-child(1) {
  margin-right: 2rem;
}

.lp-bottom-contact > .buttons-container > :nth-child(2) {
  margin-left: 2rem;
}

.k {
  width: 100%;
  height: 100%;
}
