

.projects {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    row-gap: 6rem;
}

.project{
    display: flex;
    justify-content:center;
    gap: 12rem;
    flex-wrap: wrap;
    
}

.pdescription{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50rem;
    max-height: 20rem;
    margin-left: 1rem;
}

.pimage > a > img{
    max-width: 27rem;
    max-height: 20rem;
}

.pheader {display: flex;}

.pheader > h2 {
    font: normal normal 600 1.5rem Poppins;
    color: #393939;
    margin: 0;
    display: inline;

}

#glupost {
    max-width: 45rem !important; 
  }

.pheader > p {
    background: #545454 0% 0% no-repeat padding-box;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: 0 0 0 2rem ;
    padding: 2px 10px;
    display: inline;
    align-self: center;
}

.blue-button {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
}

.section-title {
    margin: 7rem 0;
}

.ab-exp{
    margin: 0;
}

.ptext{
    margin-top: 2rem;
    max-width: 80%;
}

@media screen and (max-width: 1200px) {
    .pimage > a > img {
        max-width: 25rem;
        max-height: 18rem;
    }

    .pdescription {
        justify-content: center;
    }

    .project{
        gap: 3rem;
    }

    .ptext{
        margin-left: 1rem;
    }

    button{
        margin: 1rem;
    }

    .pdescription{
        max-width: 40rem;
    }
}

