

.projects {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    row-gap: 6rem;
}

.project{
    display: flex;
    justify-content:start;
    gap: 12rem;
}

.pdescription{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50rem;
    height: 20rem;
}

.pimage > img{
    width: 27rem;
    height: 20rem;
}

.pheader {display: flex;}

.pheader > h2 {
    font: normal normal 600 2rem Poppins;
    color: #393939;
    margin: 0;
    display: inline;

}

.pheader > p {
    background: #545454 0% 0% no-repeat padding-box;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: 0 0 0 2rem ;
    padding: 2px 10px;
    display: inline;
    align-self: center;
}

.blue-button {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
}

.section-title {
    margin: 7rem 0;
}

.ab-exp{
    margin: 0;
}

