.ab-bg-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Bg styling*/
  .ab-bg-section > :first-child {
    position: relative;
  }
  
  .ab-bg-content {
    height: 29.5rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url(../assets/images/bg/bg2.png);
    display: flex;
    align-items: flex-end;
  }
  
  .ab-bg-content > .bg-image-title {
    margin: 0 0 2% 5%;
    font-size: 4.25rem;
  }

.ab-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.project-main{
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 10rem;
}

.project-images > img{
    width: 27rem;
    height: 20rem;
}

.project-description {
    max-width: 60rem;
}

.other-projects {
    margin-top: 14rem;
}

.other-projects > a > img{
    width: 26rem;
    height: 20rem;
}

img {
  max-height: 50rem;
  max-width: 70rem;
}

.other-projects-button {
    display: flex;
    justify-content: center;
    margin: 4.5rem 0;
}

.blue-button {
    width: 18rem;
    height: 4.5rem;
    font-size: 1.5rem;
}
.p2 {
  background-image: url(../assets/images/project-images/2.1.png);
}

.p3 {
  background-image: url(../assets/images/project-images/3.1.png);
}
.p4 {
  background-image: url(../assets/images/project-images/4.1.png);
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 70%;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #2e71be;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.navbar {
  position:absolute;
  background-color: #2e71be;
}

.navbar-items {
  margin: 0;
}

footer {
  bottom: 0;
}

.mySlides{
  justify-content: center;
}