html,
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
/* Default button types*/
.transparent-button-white-outline {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-weight: bold;
}
.transparent-button-white-outline:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: #2e71be;
  cursor: pointer;
}
.blue-button {
  background-color: #2e71be;
  border: none;
  color: #fff;
  font-weight: bold;
  border: #2e71be 3px solid;
}
.blue-button:hover {
  background-color: #fff;
  color: #2e71be;
  cursor: pointer;
  border: #2e71be 3px solid;
}

#about-buttons{
  display: flex;
  flex-wrap: wrap;
}

#about-buttons > button {
  margin: 4rem 2rem 0 0;
}

#about-buttons button:nth-last-child(1){
  background-color: #fff;
  color: #2e71be;
  cursor: pointer;
  border: #2e71be 3px solid;
}

.white-button {
  background-color: #fff;
  border: none;
  color: #2e71be;
  font-weight: bold;
  border: #2e71be 3px solid;
}
.white-button:hover {
  background-color: #2e71be;
  color: #fff;
  cursor: pointer;
  border: #2e71be 3px solid;
}

button a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  letter-spacing: 1.4px;
  color: #2e71be;
  font-size: 1.8rem;
  margin: 6rem 0 2.5rem 0;
}

.blur-active {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 75%;
  background-color: #000;
  z-index: 1;
}
.bg-image-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 25%;
  background-color: #000;
  z-index: 1;
  margin: 0;
}
.bg-image-title {
  letter-spacing: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 4.5rem;
  color: #fff;
  z-index: 3;
  display: inline-flex;
}

/* Contact banner */
.contact-banner {
  background-color: #2e71be;
  color: white;
  padding: 2rem 0;
  margin-top: 6rem;
}

.banner-content {
  width: 60rem;
}

.banner-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5rem;
}

.banner-all > button {
  font-size: 1rem;
}

.banner-content > h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.banner-all > .transparent-button-white-outline {
  width: 16rem;
  height: 4.5rem;
}
.ab-bg-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Bg styling*/
.ab-bg-section > :first-child {
  position: relative;
}

.ab-bg-content {
  height: 29.5rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url(/assets/images/bg/bg2.png);
  display: flex;
  align-items: flex-end;
}

.ab-bg-content > .bg-image-title {
  margin: 0 0 2% 5%;
  font-size: 4.25rem;
}

.ab-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
/*Landing Page Projects*/
.lp-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-projects-tabs {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lp-projects-tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.lp-projects-tab button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  min-width: 6rem;
  border-radius: 15px;
  font-size: 1.5rem;
  color: #545454;
}

.lp-projects-tab button.active,
.lp-projects-tab button:hover {
  color: #fff;
  background-color: #2e71be;
}

/* Style the tab content */
.lp-projects-tabcontent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lp-projects-tabcontent > a > div {
  margin: 1rem 0;
  width: 350px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.lp-projects-image-content {
  margin: 0.5rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.lp-projects-image-content > p {
  margin: 0 0 1rem 0;
  text-align: left;
  font: normal normal normal 0.75rem/1.1 Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}
.lp-projects-image-content > h3 {
  margin: 0 0 1rem 0;
  letter-spacing: 0px;
}
.lp-projects-image-content .tag {
  width: max-content;
  padding: 0.3rem;
  color: #545454;
  background-color: #fff;
  border-radius: 15px;
  justify-self: flex-end;
  margin-top: auto;
}

.lp-projects-image-content:hover {
  opacity: 1;
}

.lp-projects-tabcontent > a > img {
  margin: 1rem 0;
}

.lp-projects-tabcontent > a {
  text-decoration: none;
}
.lp-projects > button {
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
  margin: 4rem 0 4rem 0;
}
